* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    max-height: 100%;
    background-color: #009199;
}

/*********************************CONFIGURANDO SECTION INTRO************************/
#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#intro-title {
    color: #0b4263;
    padding-top: 35px;
    font-size: 60px;
}

#img-sisu {
    width: 250px;
}

/*************************CONFIGURANDO SECTION INPUTS-NOTAS************************/

.section-notas {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50px;
}

label {
    font-weight: bold;
    font-size: 14px;
    display: block;
}

.input-notas {
    width: 170px;
    display: inline-block;
    background-color: #7de3e7;
}

/*************************CONFIGURANDO SECTION OUTRO INPUTS************************/

.input-section {
    box-shadow: 2px 5px 13px black;
    border-radius: 10px;
    padding-top: 30px;
    background-color:rgb(0 95 102);;
    width: 400px;
    min-height: 350px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 125px;
}

.input-curso,.input-estado,.input-cidade, .input-modal{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
   
}

.input-modal {
    margin-bottom: 40px;
}

#nome-input-curso, #nome-input-estado, #nome-input-cidade, #nome-input-modal  {
    background-color: #7de3e7;
    min-width: 200px;
    max-width: 200px;
    max-height: 34px;
    white-space: break-spaces;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #202020;
}


#info-submit {
    background-color: #bdc8c7;
    min-width: 100px;
    color: #202020;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
    min-width: 200px;
    max-width: 200px;
    height: 300px;
    overflow:scroll;
}

li {
  max-width: 300px;
  font-size: 0.9rem;
}

.dropdown-item {
    white-space: break-spaces;
}

/*************************CONFIGURANDO SECTION CONTEÚDO************************/

#conteudo-principal{
    
    display: block;
    position: relative;
    top: 210px;
    margin-left: auto;
    margin-right: auto;
    width: 1700px;
    padding-bottom: 50px;
}


#tabela-info {
    display: block;  
    border-radius: 10px;
    background-color: #a6f0f1;
    padding: 10px;
   
}

/*Linha*/
#tabela-info tr {
    background-color: #007b81ca;
    text-align: center;
    
}

/*cabeçalho */
th {
    min-width: 170px;
    height: 50px;
   
}

.cabecalho-modalidade {
    width: 100%;
}

/*Dados colunas */
td {
    height: 100px;
}



